<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="JsonExtension">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="{R:1}.json" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
